div {
    margin-bottom: 15px;
}
body {
    color: yellow;
    margin: 20px;
    background-color: black;
}
#forum {
    text-align: center;
    border: 1px solid yellow;
    border-radius: 4px;
    padding: 20px;
    width: 35%;
    margin: 200px auto;
}
#image{
	width: 420px;
	height:100px;
}